.works-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.works-wrap .works-tit{
    color: #000;
    font-size: 48px;
    padding: 81px 0 19px;
    box-sizing: border-box;
    margin: 0 40px;
    border-bottom: 1px solid #757575;
    font-weight: 500;
}

.works-wrap .works-list{
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.works-wrap .workBtn{
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-radius: 70px;
    margin: 100px auto 150px;
    transition: all 0.5s;
    display: block;
}
.works-wrap .workBtn p{
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 50px;
}
.works-wrap .workBtn:hover{
    border: 1px solid transparent;
    background-color: #ff6d2d;
}