*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style: none;}
img{
    vertical-align: top; border: 0;
}
a{
    text-decoration: none; 
    color: #fff;
    display: block;
}

body {
    font-family: "Pretendard Variable", sans-serif;
    position: relative;
}

header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 9999;
}
header .header-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 14px 40px;
    box-sizing: border-box;
    position: relative;
}
header .header-wrap .head-logo{
    display: flex;
    align-items: center; 
}
header .header-wrap .head-logo .logo{
    display: block;
    width: 100px;
    height: 51px;
    background-image: url("./assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header .header-wrap nav{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding: 0 32px;
    box-sizing: border-box;
    align-items: center;
    gap: 64px;
    position: relative;
    z-index: 10000;
}
.header.home .header-wrap{
    backdrop-filter: blur(10px);
    z-index: 9999;
}
.header.home a{
    color: #fff;
    transition: all 0.3s;
}
.header.home a:hover{
    text-decoration: underline;
}
.header.darktxt .header-wrap{
    background-color: rgb(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    z-index: 9999;
}
.header.darktxt a{
    color: #000;
}
.header.darktxt a:hover{
    text-decoration: underline;
}

/* main banner */
.main-page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main-page .main-banner{
    width: 100%;
    height: 100%;
    position: relative;
}
.main-page .main-banner .mainVideo-wrap{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
}
.main-page .main-banner .mainVideo-wrap li{
    min-width: 100%;
    height: 100%;
    transition: transform 0.8s;
    background: #000;
}
.mainVideo-wrap li.active {
    opacity: 1;
}
.main-page .main-banner .mainVideo-wrap li video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page .main-banner .pagination {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    position: absolute;
    bottom: 95px;
    left: 40px;
    cursor: pointer;
}
.main-page .main-banner .pagination .bullet {
    position: relative;
    width: 72px;
    height: 72px;
    display: flex;
}

.main-page .main-banner .pagination .bullet .number {
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 72px;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}
.main-page .main-banner .pagination .bullet svg{
    position: relative;
    opacity: 0;
}
.main-page .main-banner .pagination .bullet.active svg{
    opacity: 1;
}
.bullet svg,
.bullet .number::after {
    transition: opacity 0.3s;
}
.main-page .main-banner .pagination .bullet .number::after{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 4%;
    width: 14px;
    height: 1px;
    background-color: hsla(0, 0%, 100%, 0.5);
}
.main-page .main-banner .pagination .bullet.active .number::after {
    opacity: 0;
}
/* 기본 원 */
.main-page .main-banner .pagination .bullet .bg {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
}

/* 진행 원 */
.main-page .main-banner .pagination .bullet .progress {
    fill: none;
    stroke: #ff6d2d;
    stroke-dasharray: 214;
    stroke-dashoffset: 214;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-width: 2;
}
.main-page .main-banner .pagination .bullet.active .progress {
    animation: progress var(--duration) linear forwards;
}

@keyframes progress {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 214;
    }
}

.main-page .main-banner .main-daemun{
    position: absolute;
    left: 0;
    top: 65%;
    transform: translateY(-65%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.main-page .main-banner .main-daemun img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.page-animation{
    width: 100%;
    height: 120vh;
    margin: 170px 0 0;
    position: relative;
    overflow: hidden;
}
.page-animation img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.page-animation .round{
    width: 825px;
    height: 825px;
    position: absolute;
    top: 50%;
    left:5%;
    transform: translate(-3%, -50%) rotate(0deg);
    border-radius: 50%;
    animation: ballting 8s linear infinite;
    /* border: 1px solid red; */
}
@keyframes ballting{
    0%{
        transform: translate(-3%, -50%) rotate(0deg);
    }
    100%{
        transform:translate(-3%, -50%) rotate(360deg);
    }
}
.page-animation .round .rounding-ball{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    animation: tingball 0.3s alternate infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
@keyframes tingball{
    0%   { 
        transform: translateY(0) translateZ(0px);
    }
    100% { 
        transform: translateY(50px) translateZ(-5px);
    }
}
.page-animation .think-box .bold-txt{
    font-weight: 600;
    font-size: 64px;
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(-20%, -50%);
    text-align: center;
}
.page-animation .think-box .kor-box{
    padding-top: 24px;
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    top:60%;
    left:23%;
    transform: translate(-23%, -60%);
    text-align: center;
}
.page-animation .about-box{
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 32px;
    box-sizing: border-box;
}
.page-animation .about-box:hover img{
    opacity: 1;
}
.page-animation .about-box img{
    width: 478px;
    height: 476px;
    position: absolute;
    top: -6%;
    left: -1px;
    opacity: 0;
    transition: all 0.5s;
}
.page-animation .about-box .box-tit{
    position: absolute;
    top: 10%;
    transform: translateY(-10%);
    left: 10%;
    font-size: 13px;
    line-height: 20px;
    margin-left: 20px;
    color: #000;
}
.page-animation .about-box .box-tit::before{
    content: "";
    position: absolute;
    top: 25%;
    left: -35%;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: #000;
}
.page-animation .about-box .box-cont{
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-top: 50px;
    box-sizing: border-box;
}
.page-animation .about-box .box-cont .orange-txt{
    color: #ff6d2d;
}
.page-animation .recipe-box{
    width: 476px;
    height: 476px;
    position: absolute;
    right: 0%;
    top: 50%;
}
.page-animation .recipe-box:hover img{
    opacity: 1;
}
.page-animation .recipe-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: all 0.5s;
}
.page-animation .recipe-box p{
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 11%;
    /* transform: translateY(-11%); */
    left: 19%;
    transform: translateX(-19%);
    color: #000;
}

/* footer */
.footer{
    width: 100%;
    height: 362px;
    box-sizing: border-box;
}
.footer.default{
    background-color: #ff6d2d;
}
.footer.default .topBtn:hover{
    transform: scale(1.1);
    background-color: #fff;
}
.footer.orangeLight{
    color: #ff6d2d;
    border-top: 1px solid #ff6d2d;
}
.footer.orangeLight .topBtn:hover{
    transform: scale(1.1);
    background-color: #ff6c2d3a;
}
.footer .footer-wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2.7fr 2fr 6fr 0.05fr;     
    padding: 48px 40px 45px;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 12px;
}
.footer .footer-wrap .flogo{
    width: 122px;
    height: 56px;
    object-fit: contain;
}
footer .footer-wrap .phone{
    line-height: 20px;
}
footer .footer-wrap .address{
    line-height: 20px;
}
footer .footer-wrap .address p:nth-child(1){
    margin-bottom: 0px;
}
footer .footer-wrap .address p:nth-child(3){
    line-height: 5px;
}
.footer .footer-wrap  .topBtn{
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.3s;
}



/* bottom bar */

.bottomBar{
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 9999;
    transition: all 0.3s;
}
.bottomBar .bar-wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 0.7fr 2fr 0.1fr;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}
.bottomBar .bar-wrap .copyRight{
    font-size: 11px;
}
.bottomBar .bar-wrap .sns{
    display: flex;
    align-items: center;
    gap: 16px;
}
.bottomBar.default{
    background-color: #ff6d2d;
    color: #000;
}
.bottomBar.default a{
    display: block;
    color: #000;
}
.bottomBar.orangeLight{
    background-color: #fff;
    color: #ff6d2d;
}
.bottomBar.orangeLight a{
    display: block;
    color: #ff6d2d;
}
